<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:700" %>
        <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
        <%= stylesheet_link_tag "home" %>
        
    </head>
    <body>
        <div id="home" class="page">
            <div id="title-logo">
                <div id="title-wrapper"><h1 id="title">CashOnly</h1></div>
                <%= image_tag "logo.svg", alt: "logo", :id => "logo" %>
            </div>
            
            <div>
                <button class="front" id="signup-button" onclick="$('#signup').fadeIn('slow'); $('#home').fadeOut('slow');"><a href="/signup">Sign up</a></button>
                <button class="front" id="login-button"  onclick="$('#login').fadeIn('slow'); $('#home').fadeOut('slow');"><a href="/login">Log in</a></button>
            </div>
        </div>     

        <div id="cash-request-page" style="display:none" class="page">
            <i class="fa fa-times" onclick="$('#logged-in').fadeIn('slow'); $('#cash-request-page').fadeOut('slow');"></i>
            <div id="dollar">$</div>
            <form id="money-form">
                <input type="text" class="text-box" >
                <button type="submit" id="request-cash" style="display:none" class="request">Confirm Request</button>
            </form>

        </div>

        <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
        <%= javascript_include_tag "https://code.jquery.com/jquery-1.11.3.min.js" %>
        <%= javascript_include_tag "index" %>

    </body>
</html>
