<!DOCTYPE html>
<html>
<head>
  <title>CashOnly-Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Cookie" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:700" %>
  <%= stylesheet_link_tag "home" %>
</head>
<body>

<%= yield %>

</body>
</html>
